<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>markvi</title>
  <link rel="stylesheet" href="/styles/css.css" type="text/css">
</head>
<body ng-app="markvi" ng-cloak>
  <div class="app">
    <header class="navbar" ng-controller="NavCtrl">
      <nav class="pure-menu-horizontal">
        <ul class="pure-menu-left">

					<li>
            <form class="pure-form search-form" role="search">
              <input type="search" placeholder="search…" ng-model="query" ng-keyup="search()" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="50">
            </form>
          </li>
        </ul>
				<!--		<div ng-controller="ModalCtrl"><button ng-click="toggleModal()" class="pure-button-light">about</button>
					<modal-dialog info="modalShown" show="modalShown" width="80%" height="80%">
					<h3>what's this, then?</h3>
	<p>i like <a href="http://daringfireball.com/projects/markdown">markdown</a>. i write <a href="http://zacanger.com/blog">my blog</a> in it, and use it <a href="http://markdown-here.com/">in my email</a>. i use it to take notes. it's super handy for documentation. it makes long-form writing of any kind a much smoother, simpler process. markdown-specific editors have been described (not entirely inaccurately) as <a href="https://honza.ca/2015/02/markdown-editors-are-an-anti-pattern">an antipattern</a>, but given the wide range of markdown derivatives, plugins, and extensions in use&mdash;not to mention the complete lack of standardization of the original spec&mdash;it's sometimes helpful to see what one is working on in realtime.</p>
  <p>there are likely thousands of decent markdown editors, a large majority of them available <a href="https://npmjs.com/search?q=markdown">for free</a>, including <a href="https://github.com/search?utf8=%E2%9C%93&q=markdown">source code</a>… and <a href="https://pypi.python.org/pypi?%3Aaction=search&term=markdown+editor&submit=search">for multiple languages</a>. why not use one of those? i've used several. a lot of them are really great. none of them were what i was looking for.</p>
  <p><strong>markvi</strong> won't be for everyone. with a bit of hacking (and a crash course in vimscript) something could be worked up in vim itself. any one of a dozen popular IDEs and editors could be configured to preview markdown without much trouble. i put this one together because it satisfied <em>my</em> need for a <strong>no-config</strong>, fast-as-heck, always-available-everywhere setup with keybinds that make manipulating large blocks of text easy and lightning-quick.</p>
  <p>if you're not so much into the vi/vim way of life, simply removing or commmenting out the relevant lines (see the scripts directory) will make this a plain old markdown editor. if you're an emacs heathen, i'm sure there's a mode for that. :) </p>.
	<p>oh, by the way&mdash;i'm <a href="http://zacanger.com/me">zac</a>. i'm told i'm a <em>technology hipster</em>, but i'm okay with that. please feel free to check out <a href="https://github.com/zacanger/markvi">this project on github</a>, fork or clone away, use however you like; my own code is under the <a href="http://www.wtfpl.net">wtfpl</a>; please be respectful of the licenses of any dependencies.</p>
					</modal-dialog>
				</div> -->
        <ul class="pure-menu-right">
          <li><button ng-click="create()" class="pure-button">new</button></li>
        </ul>
      </nav>
    </header>
    <aside class="browser" ng-controller="BrowserCtrl">
      <div class="file" ng-click="select(file.id)" ng-class="{ selected: file.id == selectedFile }" ng-repeat="file in files">
        <span class="title">{{file.title | cut:false:30}}</span>
        <span class="modified" am-time-ago="file.modified"></span>
        <p>{{file.content | cut:false:72}}</p>
      </div>
      <p ng-if="!files.length" class="no-files">i'm afraid i can't find that!</p>
    </aside>
    <section class="main">
      <div class="content" ui-view></div>
    </section>
  </div>
  <script src="/bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
  <script src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js" type="text/javascript"></script>
  <script src="/bower_components/lodash/lodash.min.js" type="text/javascript"></script>
  <script src="/bower_components/highlightjs/highlight.pack.js" type="text/javascript"></script>
  <script src="/bower_components/codemirror/lib/codemirror.js" type="text/javascript"></script>
  <script src="/bower_components/codemirror/mode/markdown/markdown.js" type="text/javascript"></script>
  <script src="/bower_components/codemirror/addon/display/placeholder.js" type="text/javascript"></script>

  <script src="/scripts/markdown.js" type="text/javascript"></script>
  <script src="/scripts/app.js" type="text/javascript"></script>
	<script src="/scripts/config.js" type="text/javascript"></script>
  <script src="/scripts/controllers/main.js" type="text/javascript"></script>
  <script src="/scripts/controllers/browser.js" type="text/javascript"></script>
  <script src="/scripts/controllers/nav.js" type="text/javascript"></script>
  <script src="/scripts/directives/markdown-editor.js" type="text/javascript"></script>
  <script src="/scripts/services/files.js" type="text/javascript"></script>
  <script src="/scripts/filters/cut.js" type="text/javascript"></script>
	<script src="/scripts/filters/filename.js" type="text/javascript"></script>
	<script src="/scripts/favicon.js" type="text/javascript"></script>

</body>
</html>
